<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringTablaPaso" value="Data Source=192.168.20.29;Initial Catalog=Centralizacionv2; Persist Security Info=True; User ID=sa;Password=S0p0rt3" />
    <add key="ConnectionString" value="Data Source=192.168.20.5;Initial Catalog=PortalClientes; Persist Security Info=True; User ID=sa;Password=S0p0rt3" />
    <add key="Id_Maquina" value="1" />
    
    <add key="Latencia" value="1" />
    <add key="MinutosEsperaraBPro" value="1" />
    <add key="TotalIntentos" value="3" />
    <add key="TopeMinBusqenBDSicop" value="15" />
    <add key="NumeroSucursalProcesar" value="" /> <!-- vacio para todas las sucursales es el suc_idsucursal-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>